body {
    text-align: center;
    margin: 0 15%;
    width: 75%;
    border: 2px solid blue;
    box-sizing: border-box;
}

h1 {
    background-color: lightgray;
    margin-top: 20px;
    padding: 0;
}

h2 {
    background-color: lightgray;
    font-style: italic;
    margin: 0;
    padding: 0;
}

p{
    font-family: monospace;
}

video {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border: 2px solid blue;
    box-sizing: border-box;
}

